<!-- Layout principal -->
<div class="flex h-screen bg-gray-50">

  <app-sidebar></app-sidebar>

  <!-- Conteúdo principal -->
  <div class="flex-1  overflow-auto">
    <!-- Espaçamento para o botão hambúrguer em mobile -->
    <div class="p-6 pt-16 lg:pt-6">

      <!-- Cabeçalho de boas-vindas -->
      <div class="mb-8">
        <h1 class="text-2xl lg:text-3xl font-bold text-gray-900">Olá, {{ userName }}!</h1>
        <p class="text-gray-600 mt-2">Aqui está um resumo das suas finanças hoje, {{ dataAtual }}</p>
      </div>

      <!-- Cards de resumo financeiro -->
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 lg:gap-6 mb-8">


        <app-despesa-mes
        (valorAlterado)="onDespesaAlterada($event)"
        >
      </app-despesa-mes>



        <!-- Card Saldo Total -->
        <div
          class="bg-gradient-to-r from-green-500 to-green-500 rounded-xl shadow-lg p-6 text-white transform hover:scale-105 transition-all duration-300">
          <div class="flex items-center justify-between">
            <p class=" text-sm text-xl">Saldo Total</p>
            <button (click)="openModal()"
              class="hover:bg-white hover:text-green-500 text-white px-4 py-2 rounded-lg font-medium transition-colors flex items-center space-x-2">
              <svg class="w-5 h-5 text-2xl font-bold" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="4" d="M12 4v16m8-8H4"></path>
              </svg>
            </button>
          </div>

          <div class="flex items-center justify-between">


            <p class="text-3xl font-bold mt-2">R$ 0,0</p>
            <!-- <p class="text-3xl font-bold mt-2">{{ formatarMoeda(resumoFinanceiro.saldoTotal) }}</p> -->
          </div>

        </div>

        <!-- Card Gastos Pendentes -->
         <div
          class="bg-yellow-500 rounded-xl shadow-lg p-6 text-white transform hover:scale-105 transition-all duration-300">
          <div class="flex items-center justify-between">
            <p class=" text-sm text-xl">Contas a Vencer</p>
            <button (click)="openModal()"
              class="hover:bg-white hover:text-yellow-500 text-white px-4 py-2 rounded-lg font-medium transition-colors flex items-center space-x-2">
              <svg class="w-5 h-5 text-2xl font-bold" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="4" d="M12 4v16m8-8H4"></path>
              </svg>
            </button>
          </div>

          <div class="flex items-center justify-between">
            <p class="text-3xl font-bold mt-2">R$ 0,0</p>
            <!-- <p class="text-3xl font-bold mt-2">{{ formatarMoeda(resumoFinanceiro.saldoTotal) }}</p> -->
          </div>

        </div>

        <!-- Card Compras Parceladas -->
         <div
          class="bg-sky-500 rounded-xl shadow-lg p-6 text-white transform hover:scale-105 transition-all duration-300">
          <div class="flex items-center justify-between">
            <p class=" text-sm text-xl">Compras Parceladas</p>
            <button (click)="openModal()"
              class="hover:bg-white hover:text-sky-500 text-white px-4 py-2 rounded-lg font-medium transition-colors flex items-center space-x-2">
              <svg class="w-5 h-5 text-2xl font-bold" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="4" d="M12 4v16m8-8H4"></path>
              </svg>
            </button>
          </div>

          <div class="flex items-center justify-between">
            <p class="text-3xl font-bold mt-2">R$ 0,0</p>
            <!-- <p class="text-3xl font-bold mt-2">{{ formatarMoeda(resumoFinanceiro.saldoTotal) }}</p> -->
          </div>

        </div>

      </div>

      <div class="bg-white rounded-xl shadow-lg p-6">
        <div class="flex justify-between items-center mb-6">
          <h2 class="text-xl font-bold text-gray-900">Despesas Recentes</h2>

        </div>
        @if(extraPurchases.length > 0){
        <div class="space-y-4">
          @for (purchase of extraPurchases; track purchase.id) {
          <div class="flex items-center justify-between p-4 bg-gray-50 rounded-lg">
            <div class="flex items-center space-x-4">
              <div class="p-2 bg-blue-100 rounded-full">
                <svg class="w-5 h-5 text-blue-600" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M3 10h18M7 15h1m4 0h1m-7 4h12a3 3 0 003-3V8a3 3 0 00-3-3H6a3 3 0 00-3 3v8a3 3 0 003 3z"></path>
                </svg>
              </div>
              <div>
                <p class="font-medium text-gray-900">{{ purchase.purchaseName }}</p>
                <p class="text-sm text-gray-500">{{purchase.purchaseDate}} • {{ purchase.bankName }}</p>
              </div>
            </div>
            <br>
            <div class="text-right">
              <p class="font-bold text-red-600">{{ formatarMoeda(purchase.purchaseValue) }}</p>
            </div>
          </div>
          }
        </div>
        }@else {
        <p class="text-gray-600 text-center font-bold text-xl">Não há com o que se preocupar hoje</p>
        }

      </div>
    </div>
  </div>
</div>
